body{
    
    display:flex;
    flex-direction:column;
    align-items:center;
}

button{
    width:150px;
    height:40px;
    font-size:15px;
    border:none;
    background-color:blue;
    color:rgb(245, 234, 234);
    border-radius: 40px;
   
  
    

}
.box{
    width:300px;
    height:300px;
    background-color: paleturquoise;
    margin:50px auto;
}