.main-box{
    width: 100%;
    height: 625px;
    background-image: url("../img/img2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 97px;
    display: flex;
    justify-content: space-between;
}
.greetings-box{
    width: 100%;
    margin-top: 50px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
}
    

.navbar-nav ul il a{
    text-decoration: none;
    margin: 10px;
    color:#fff;
    

}
#main-container{
    color:#fff;
    
}
body{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.logo p{
    padding-left: 30px;
}
.greetings-box button{
    color: #fff;
    background-color: #007bff;
    border-radius: 30px;
    width: 150px;
    padding: 20px;
    border: none;

    
}
.greetings-box h1{
    font-size:3rem;
    margin-bottom: 12px;
    margin-top: 12vh;
    font-weight: 680;
    text-transform: uppercase;
    color: #fff;
    letter-spacing:3px;

}
.greetings-box h3{
    font-size: 27px;
    font-weight: 100;
}

