/* navbar start */
.main-box{
    width: 100%;
    height: 625px;
    background-image: url("../img/img2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 97px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
}
.logo{
    line-height: 1.2;
    font-size: 2rem;
    font-weight: 400;
    
}
.greetings-box{
    width: 100%;
    margin-top: 50px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

    

.navbar-nav ul il a{
    text-decoration: none;
    margin: 10px;
    color:rgb(209, 202, 202);
    

}
.navbar-nav ul il a :active{
    color:#fff;
}
#nav-container{
    color:#fff ;
}
    

body{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height:27.2px;
    color: gray;
    font-weight: 410;
    font-size: 17px; 
}
.logo p{
    padding-left: 30px;
}
.greetings-box button{
    color: #fff;
    background-color: #007bff;
    border-radius: 30px;
    
    padding:14px 30px;
    border: none;
    font-size: 16px;
    
    


    
}
.greetings-box h1{
    font-size:3rem;
    margin-bottom: 12px;
    margin-top: 12vh;
    font-weight: 680;
    text-transform: uppercase;
    color: #fff;
    letter-spacing:3px;

}
.greetings-box h3{
    font-size: 24px;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom:48px;
}
/* navbar end */
/* about me start */
.about-item h1{
   text-align: center;
   font-size:40px ;
   color: #007bff;
   font-weight: 700;
   margin-bottom: 16px;
   padding: 80px 0px;

}
.about-content{
    display: flex;
    justify-content: space-evenly;
    
    
}

.image-about img{ 
    width: 540px;
    height: 360.094;
    
}

    

.about-info{
    
    width: 445px;
    height: 424.094px;
    padding: 15px;
}
.info-boxs h2{
    color: #000;
    font-size: 28px;
    margin-bottom: 19px;
}
.info-boxs p{
    margin-bottom: 17px;
}



/* about me end */
/* my Features start */
.Feature-container{
    margin-bottom: 30px;
}
.Feature-head h1{
   text-align: center;
   font-size:40px ;
   color: #007bff;
   font-weight: 700;
   margin-bottom: 20px;
   padding:80px 60px 0px 0px;
   

}
.Feature-head h3{
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 20px;
}
.Feature-image img{
    width: 540px;
    height:360px;
}
.Feature-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Feature-image {
    
    
    align-items: center;
    
    width: 540px;
    height:360px;
}
.Feature-info h1{
    font-size:40px;
    color: #007bff;
    font-weight: 700;
    margin-bottom: 20px;
    
}
.Feature-info h3{
    font-size: 24px;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 20px; 
}
.Feature-info button{
    color: #fff;
    background-color: #007bff;
    border-radius: 30px;
    border: none;
    padding:13px 33px;
    font-size: 16px; 
}
.Feature-info{
    width: 445px;
    height: 347px;
    
    line-height: 1.2;
    
}
.Feature-info p{
    margin-bottom: 20px;
}


/* my Features end */
/* my Portfolio start */
.my-portfolio h1{
    font-size:40px;
    color: #007bff;
    font-weight: 700;
    margin: 50px;
    text-align: center;

}
/* my Portfolio end */
/*My skills start  */
.skill-box h1{
    font-size:40px ;
    color: #007bff;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 40px;
}
.skill-info{
    width: 1140px;
    height: 554px;
    margin: 0 auto; 
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.skill-box{
    width: 100%;
    height: 666px;
    background-color: rgb(236, 233, 233);
    padding: 2em;
    margin-top: 30px;
    
}
.skill-info div{
    
    height: 253px;
    padding: 15px;
    
}
.skill-info div h2{
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}
.skill-info div a{
    font-size: 18.5px;
    font-weight: 400;
    line-height: 1.7;
    text-decoration: none;
    color: #007bff;
    

}
.skill-info div h3{
    margin-bottom: 10px;
}




/*My skills end */
/*Contact start*/

.contact-info-boxs h1{
    font-size:40px;
    color: #007bff;
    font-weight: 700;
    margin: 50px;
    text-align: center;

}
.contact-info{
    width: 1140px;
    height: 114px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content:center;

}
.contact-boxs{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-direction: column;
    
}
.contact-boxs p{
    color: gray;
}
.contact-boxs a{
    color: #007bff;
    text-decoration: none; 
    
}
.contact-boxs span{
    color: #007bff;
    
    
    
     
}
.contact-boxs{
    width: 379.98px;
    height: 114px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-contact-container{
    width: 1349px; 
    height: 1071px;
    padding:80px 0px; 
    background-color: rgb(236, 233, 233);
    margin-top: 30px;
    
}
.contact-main-item{
    width: 1014px;
    height:653px;
    padding: 48px;
    margin: 4em;
    margin-left: 5.6em;
    background-color:#fff;
    
}
.name-info-boxs{
    display: flex;
    justify-content: space-between;
} 
.contact-main-item h4{
    font-size: 19px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 150;
}

.message-container{
    display: grid;
}
.message-container input{
    margin-bottom: 24px;
}




.contact-main-item h3{
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom:48px;
    color: #000;
}
/*Contact end */
/* end */
.end-info{
    height: 387px;
    padding: 128px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    background-color: #333333;
    
    
    


}
.end-about{
    
    display: flex;
    flex-direction: column;
    align-items: left;
    

}
.end-contact{
    
    display: flex;
    flex-direction: column;
    align-items: left;
}
.end-social{
    
    display: flex;
    flex-direction: column;
    align-items: left;
}
.end-social h3{
    display: block;
    margin-bottom: 24px;

}
.end-social i{
    margin: 0px 10px;
}
.end-email{
    
    display: flex;
    flex-direction: column;
    align-items: left;
}

.end-info h3{
    line-height:2;
    color: #fff; 
}
.end-contact a{
    color: grey;
    text-decoration: none;
    display: block;
}
.end-about h3:nth-child(2){
    color: grey;
}
hr{
    width: 1116px;
    height: 0px;
}


/* end */


